.topbar-wrapper {
  background-color: #a164f1;
}
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 5px;
  color: #fff;
  font-size: 14px;
}

.topbar-left a {
  color: #fff;
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  transition: color 0.3s ease;
}
.topbar-left a svg {
  font-size: 16px;
}

.topbar-left a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.topbar-right p {
  margin: 0;
  font-weight: 400;
}

@media (max-width: 768px) {
  .topbar {
    font-size: 10px;
    margin: 0 auto;
    padding: 10px;
  }

  .topbar-left {
    margin-bottom: 6px;
  }

  .topbar-left a {
    margin-right: 5px;
  }

  .topbar-right p {
    font-size: 12px;
  }
}
