.cart-page{
 background-color: #f5f5f5;
}
.homeBtn{
    background-color: transparent;
    color: #000;
    padding: 0;
}
.cart-text{
    font-size: 36px;
    font-weight: 100;
    color: #000;
}
.cart-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
   
}
.homeBtn:hover{
    color: blueviolet;
    background-color: #fff;
}