.footer-wrapper {
  margin: 50px auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
}
.footerlogo > img{
  cursor: pointer;
}
.left-side-content-ftr{
  width: 50%;
  font-size: 15px;
}
.contact{
  margin-top: 20px;
  line-height: 2;
}
.contact p{
  display: flex;
  align-items: center;
  gap: 15px;
}
.contact p svg{
  font-size: 16px;
}
.right-side-content-ftr {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.ftr-col h4{
    margin-bottom:20px ;
    font-size: 14PX;
    font-weight: 600;
}
.ftr-col ul li{
  cursor: pointer;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 2;
    font-size: 14px;
    transition: 0.2s ease-in-out, 0.2s ease-in-out;
}
.ftr-col ul li:hover{
    color: var(--primary);
}
.ftr-col ul li svg{
    font-size: 14px;
}

@media (max-width:428px) {
  .footer-wrapper {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  gap: 20px;
}
.left-side-content-ftr{
  width: 100%;
}
.right-side-content-ftr{
  width: 100%;
}
}