

:root {
  --primary: #a164f1;
  --primary-hover: #4c2e6e;
  --font-sans: 'Inter', Arial, sans-serif;
}
:root {
  --bg-color: #ffffff;
  --text-color: #171717;
  --bg-card-color:#fff
}

[data-theme="dark"] {
  --bg-color: #201c1c;
  --text-color: #fff;
  --bg-card-color:#2c2929;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-sans);
  line-height: 1.6;
  margin: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0;
}

.section {
  padding: 4rem 0;
}

button,
.btn {
  padding: 8px 10px;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover,
.btn:hover {
  background-color: var(--primary-hover);
}
.copyright p{
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-top: 1px solid rgb(223, 221, 221);
  padding: 20px 0;
}
