.features-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px auto;
}
.feature-icon {
  text-align: center;
}
.feature-icon svg {
  height: 70px;
  width: 70px;
  color: #a855f7;
}
.feature-text {
  text-align: center;
  font-size: 14px;
}

@media (max-width: 992px) {
  .features-wrapper {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

}
